@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex";
}

#wordcloud {
  width: 100%;
  height: 100vh;
  margin: 2rem auto;
  position: relative;
}

text[data-wght] {
font-variation-settings: 'wght' 700;
}

